{% extends 'base.html' %}

{% block title %}О нас{% endblock %}
{% block active %}active{% endblock %}

{% block content %}
<div class="about">
    <h2>О нас</h2>
    <p>Мы команда Tuesday.com, занимающаяся разработкой инновационного программного обеспечения для управления задачами и проектами. Наша цель - помочь людям улучшить их производительность и достичь успеха в своих проектах.</p>
    <p>Мы верим в то, что эффективное управление задачами - это ключ к успеху в современном мире, и поэтому мы создаем инструменты, которые делают управление проектами легким и удобным.</p>
    <p>Присоединяйтесь к нам сегодня и давайте вместе строить будущее!</p>
</div>
{% endblock %}