<nav id="main-menu">
      <ul>
        {% if 'userLogged' in session %}
        {% for m in menu %}
        <li><a {% if page == m.page %}id='active'{% endif %} href="{{m.url}}" data-menu-link="{{ m.url }}">{{m.name}}</a></li>
        {% endfor %}
        <li><a href="/logout" data-menu-link="/logout">Выход</a></li>
        {% else %}
        {% for m in menu %}
        {% if m.page != 'tasks' and m.page != 'profile' %}
          <li><a {% if page == m.page %}id='active'{% endif %} href="{{m.url}}" data-menu-link="{{ m.url }}">{{m.name}}</a></li>
        {% endif %}
        {% endfor %}
        {% endif %}
      </ul>
    </nav>