{% extends 'base/base.html' %}

{% block title %}Мои проекты{% endblock %}
{% block active %}active{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
<aside id="sidebar">
    <h2>Доски <a class="custom-link add-task-link" title="Добавить новую доску" href="{{ url_for('todo_routes.create_board') }}"> + </a></h2>
    <button id="toggleSidebar"><</button>
    <ul>
        {% for board in boards %}
            <li><a href="/profile/{{username}}/projects/{{ board.id }}">{{ board.name }}</a></li>
        {% endfor %}
    </ul>
</aside>
<div class="board">
    <div class="column">
      <h2><a onclick="toggleTable('plan1')" href="#">{{ board.name }}</a><a class="custom-link add-task-link" title="Добавить задачу" href="{{ url_for('todo_routes.create_task') }}"> + </a></h2>

        <table id="plan1">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Статус</th>
                    <th>Приоритет</th>
                    <th>Описание</th>
                    {% for column in columns %}
                        <th>{{ column.name }}</th>
                    {% endfor %}
                    <th><a class="custom-link add-task-link" title="Добавить столбец" href="{{ url_for('todo_routes.add_column') }}"> + </a></th>
                </tr>
            </thead>
            <tbody>
                {% for task in board.tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.status }}</td>
                        <td>{{ task.priority }}</td>
                        <td>{{ task.description }}</td>
                        {% for column in columns %}
                            <td>
                                {% for content in task.contents %}
                                    {% if content.column_id == column.id %}
                                        {{ content.content }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
