{% extends 'base/base.html' %}

{% block title %}Мои проекты{% endblock %}
{% block active %}active{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
<aside id="sidebar">
    <h2>Доски <a class="custom-link add-task-link" title="Добавить новую доску" href="#"> + </a></h2>

    <button id="toggleSidebar"><</button>
    <ul>
      <li><a href="#">Доска 1</a></li>
      <li><a href="#">Доска 2</a></li>
      <li><a href="#">Доска 3</a></li>
    </ul>
  </aside>
  <div class="board">
    <div class="column">
      <h2><a onclick="toggleTable('plan1')" href="#">{{ board.name }}</a></h2>
<table id="plan1">
  <thead>
    <tr>
      <th>Название</th>
      <th>Статус</th>
      <th>Приоритет</th>
      <th>Описание</th>
      <th><a class="custom-link add-task-link" title="Добавить столбец" href="/add_column"> + </a></th>
    </tr>
  </thead>
  <tbody>
    {% for task in board.tasks %}
      <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.description }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<!--      <h2><a onclick="toggleTable('plan1')" href="#">План</a></h2>-->
<!--      <a class="custom-link add-task-link" title="Добавить новую задачу" href="#"> + </a>-->
<!--      <table id="plan1">-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th>Название</th>-->
<!--            <th>Статус</th>-->
<!--            <th>Приоритет</th>-->
<!--            <th>Описание</th>-->
<!--            <th><a class="custom-link add-task-link" title="Добавить столбец" href="/add_column"> + </a></th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--          <tr>-->
<!--            <td>Задача 1</td>-->
<!--            <td>В работе</td>-->
<!--            <td>&#45;&#45;***</td>-->
<!--            <td>Нужно сделать!</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Задача 2</td>-->
<!--            <td>В работе</td>-->
<!--            <td>*****</td>-->
<!--            <td>Очень нужно сделать!</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Задача 3</td>-->
<!--            <td>В работе</td>-->
<!--            <td>&#45;&#45;&#45;&#45;*</td>-->
<!--            <td>Можно наверное сделать!</td>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--      <h2><a onclick="toggleTable('plan1')" href="#">В работе</a></h2>-->
<!--      <a class="custom-link add-task-link" title="Добавить новую задачу" href="#"> + </a>-->
<!--      <table id="plan1">-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th>Название</th>-->
<!--            <th>Статус</th>-->
<!--            <th>Приоритет</th>-->
<!--            <th>Описание</th>-->
<!--            <th><a class="custom-link add-task-link" title="Добавить столбец" href="#"> + </a></th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--          <tr>-->
<!--            <td>Задача 1</td>-->
<!--            <td>В работе</td>-->
<!--            <td>&#45;&#45;***</td>-->
<!--            <td>Нужно сделать!</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Задача 2</td>-->
<!--            <td>Закончено</td>-->
<!--            <td>*****</td>-->
<!--            <td>Очень нужно сделать!</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Задача 3</td>-->
<!--            <td>Не начато</td>-->
<!--            <td>&#45;&#45;&#45;&#45;*</td>-->
<!--            <td>Можно наверное сделать!</td>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--      <h2><a onclick="toggleTable('plan1')" href="#">Завершено</a></h2>-->
<!--      <a class="custom-link add-task-link" title="Добавить новую задачу" href="#"> + </a>-->
<!--      <table id="plan1">-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th>Название</th>-->
<!--            <th>Статус</th>-->
<!--            <th>Приоритет</th>-->
<!--            <th>Описание</th>-->
<!--            <th><a class="custom-link add-task-link" title="Добавить столбец" href="#"> + </a></th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--          <tr>-->
<!--            <td>Задача 1</td>-->
<!--            <td>В работе</td>-->
<!--            <td>&#45;&#45;***</td>-->
<!--            <td>Нужно сделать!</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Задача 2</td>-->
<!--            <td>В работе</td>-->
<!--            <td>*****</td>-->
<!--            <td>Очень нужно сделать!</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>Задача 3</td>-->
<!--            <td>В работе</td>-->
<!--            <td>&#45;&#45;&#45;&#45;*</td>-->
<!--            <td>Можно наверное сделать!</td>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--      </table>-->

    </div>
  </div>
{% endblock %}
