{% extends 'base/base.html' %}

{% block title %}Мои проекты{% endblock %}
{% block active %}active{% endblock %}
{% block background %}id='tasks'{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
<aside id="sidebar">
    <h2>Доски <a class="custom-link add-task-link" title="Добавить новую доску" href="{{ url_for('todo_routes.create_board', board_id=board.id, username=username) }}">+</a></h2>
    <ul>
        {% for board in user.boards %}
        <div>
          <h3><a href="/profile/{{username}}/projects/{{ board.id }}">{{ board.name }}</a></h3>
          <ul>

              {%- if user.boards==None %}
                <li><a href="{{ url_for('todo_routes.create_board') }}" data-menu-link="{{ url_for('todo_routes.create_board') }}">Добавить доску</a></li>
              {% endif %}
          </ul>
        </div>
      {% endfor %}
    </ul>
          <h2>Моя команда: <a class="custom-link add-task-link" title="Добавить в команду" href="{{ url_for('todo_routes.add_tuser', username=username, board_id=board_id) }}"> + </a></h2>
<ul>
  {% for team_user in team_users %}
    <li>{{ team_user.username }}</li>
  {% endfor %}
</ul>
</aside>
<div class="board">
    {% if board %}
        <div class="column">
            <h2>{{ board.name }}</h2>
            <form method="POST" action="{{ url_for('todo_routes.delete_board', username=username, board_id=board.id) }}">
                <button type="submit">Удалить доску</button>
            </form>
            <table border="1">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Статус</th>
                        <th>Приоритет</th>
                        <th>Описание</th>
                        <th>Чат</th>
                        {% for column in board.columns %}
                            <th>{{ column.name }}</th>
                        {% endfor %}
                        <th><a class="custom-link add-task-link" title="Добавить столбец" href="{{ url_for('todo_routes.add_column', board_id=board.id, username=username) }}"> + </a></th>
                </thead>
                    </tr>
                <tbody>
    {% for task in board.tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.description }}</td>
            <td><a href="{{ url_for('todo_routes.get_chat', task_id=task.id) }}">Присоединиться к чату</a></td>
            {% for column in board.columns %}
                <td>
                    {% set found = False %}
                    {% for content in task.contents %}
                        {% if content.column_id == column.id %}
                            {{ content.content }}
                    {% endif %}
                    {% else %}
                        <a class="custom-link add-task-link" title="Добавить значение." href="{{ url_for('todo_routes.add_content', board_id=board.id, task_id=task.id, column_id=column.id, username=username) }}">+</a>
                    {% set found = true %}
                    {% endfor %}
                </td>
            {% endfor %}
            <td>
                <form method="POST" action="{{ url_for('todo_routes.delete_task', username=username, board_id=board.id, task_id=task.id) }}">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</tbody>
            </table>
            <a class="custom-link add-task-link" title="Добавить задачу" href="{{ url_for('todo_routes.create_task', board_id=board.id, username=username) }}"> + </a>
        </div>
    {% else %}
        <p>Доска не найдена или у вас нет задач на этой доске.</p>
    {% endif %}
</div>
{% endblock %}