<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %} - Tuesday.com</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>
<header {% block bluecolor %}{% endblock %}>
  <div class="header-container">
    <h1>Tuesday.com</h1>
    <nav>
      <ul>
        <li><a {% if page == 'home' %}id="active"{% endif %} href="/">Главная</a></li>
        <li><a {% if page == 'tasks' %}id="active"{% endif %} href="{{ url_for('user_routes.tasks') }}">Мои проекты</a></li>
        <li><a {% if page == 'contact' %}id="active"{% endif %} href="{{ url_for('about_routes.contact') }}">Контакт</a></li>
        <li><a {% if page == 'about' %}id="active"{% endif %} href="{{ url_for('about_routes.about') }}">О нас</a></li>
        <li><a {% if page == 'profile' %}id="active"{% endif %} href="{{ url_for('user_routes.edit_profile') }}">Профиль</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  {% block content %}{% endblock %}
</div>
<footer>
  <p>&copy; 2024 Tuesday.com</p>
</footer>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>