{% extends 'base/base.html' %}

{% block title %}Добавить пользователя в команду{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h2>Добавить пользователя в команду</h2>
<div class="container center-content">
    <form method="POST" action="{{ url_for('todo_routes.add_tuser', username=username, board_id=board_id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name_or_email.label(class="form-label") }}
            {{ form.name_or_email(class="form-control") }}
            {% if form.name_or_email.errors %}
                <ul class="errors">
                    {% for error in form.name_or_email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>
{% endblock %}
