{% extends 'base/base.html' %}

{% block title %}Чат для задачи {{ task.name }}{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h1>Чат для задачи {{ task.name }}</h1>
    <p></p>
    <div id="messages">
        <p></p>
    <button ><a href="{{ url_for('todo_routes.board_get', board_id=task.board_id, username=username) }}">Назад к доске</a></button>
        {% for message in messages %}
            <div class="message-bubble">
                <span class="message-author">{{ message.sender.username }}</span>: {{ message.text }} <br>
                <small>{{ message.timestamp.replace(second=0, microsecond=0) }}</small>
            </div>
        {% endfor %}
    </div>
    <div id="chat_container">
        <form onsubmit="sendTaskMessage({{ task.id }}); return false;">
            <input type="text" id="chat_message_input" placeholder="Введите сообщение...">
            <button type="submit">Отправить</button>
        </form>
    </div>
{% endblock %}
