{% extends 'base/base.html' %}

{% block title %}Общие проекты{% endblock %}
{% block active %}active{% endblock %}
{% block background %}id='tasks'{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="board">
        {% if board %}
            <div class="column">
                <h2>{{ board.name }}</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Статус</th>
                            <th>Приоритет</th>
                            <th>Описание</th>
                            <th>Чат</th>

                            {% for column in board.columns %}
                                <th>{{ column.name }}</th>
                            {% endfor %}
                            <th><a class="custom-link add-task-link" title="Добавить столбец" href="{{ url_for('todo_routes.add_column', board_id=board.id, username=username) }}"> + </a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in board.tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.status }}</td>
                                <td>{{ task.priority }}</td>
                                <td>{{ task.description }}</td>
                                <td><a href="{{ url_for('todo_routes.get_chat', task_id=task.id) }}">Присоединиться к чату</a></td>

                                {% for column in board.columns %}
                                    <td>
                                        {% set found = False %}
                                        {% for content in task.contents %}
                                            {% if content.column_id == column.id %}
                                                {{ content.content }}
                                            {% endif %}
                                            {% else %}
                                                <a class="custom-link add-task-link" title="Добавить значение." href="{{ url_for('todo_routes.add_content', board_id=board.id, task_id=task.id, column_id=column.id, username=username) }}">+</a>
                                                {% set found = true %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                                <td>
                                    <form method="POST" action="{{ url_for('todo_routes.delete_task', username=username, board_id=board.id, task_id=task.id) }}">
                                        <button type="submit">Удалить</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="custom-link add-task-link" title="Добавить задачу" href="{{ url_for('todo_routes.create_task', board_id=board.id, username=username) }}"> + </a>
            </div>
        {% endif %}
    </div>
{% endblock %}