{% extends 'base/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="center-content">
  <h2>Добро пожаловать на главную страницу</h2>
  <p>Пожалуйста, войдите или зарегистрируйтесь:</p>
  <h2>Вход</h2>
  <div class="contact-form">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action="{{ url_for('user_routes.login') }}" method="POST">
      <label for="username">Имя пользователя:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password">Пароль:</label><br>
      <input type="password" id="password" name="password"><br>
      <input type="submit" value="Войти">
      <a href="{{ url_for('user_routes.register') }}">Зарегистрироваться</a>

    </form>
  </div>
  </div>
{% endblock %}
